<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 2

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [27]:
for i in range (1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

35) Print out the odd numbers between 1 and 20 by using the third paramater to the `range()` function.

In [75]:
for i in range(1, 21,2):  # Loop through numbers from 1 to 20
    # if i % 2 != 0:  # Check if the number is odd
        print(i)

1
3
5
7
9
11
13
15
17
19

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [85]:
for i in range(1,20):
    if i % 2 !=0:
        print (i)

1
3
5
7
9
11
13
15
17
19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [63]:
total = 0 

for i in range(1, 101):  # Loop through integers from 1 to 100
    total += i  # Increment total by the current number (i)
total

5050

38) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [101]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [99]:
for friend in friends:
    print(f'{friend.upper()} IS AWESOME!')

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

39) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [107]:
for friend in friends:
    if friend[-1].lower() in 'aeiou':
        print(f'{friend.upper()} IS AWESOME!')
    else:
        print(f'{friend.lower()} is ok...')

ALICE IS AWESOME!
bob is ok...
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

40) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [83]:
for number in range(1, 31):
    if number % 3 == 0:
        print('Fizz')
    else:
        print(number)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `'Buzz'`. Otherwise, just print the number.

In [105]:
for number in range (1, 31):
    if number % 5 == 0:
        print  ('Buzz')
    else:
        print (number)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Buzz

42) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [121]:
for number in range (1,31):
    if number % 3 == 0 and number % 5 == 0:
        print ('FizzBuzz')
    elif number % 3 == 0:
        print('Fizz')
    elif number % 5 == 0:
        print  ('Buzz')
    else:
        print (number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [87]:
sentence = "It's time to be alive"

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [145]:
#Answer1
vowels = 'aeiouAEIOU'  # Aware of lowercase and uppercase
count = 0

for char in sentence:
    if char in vowels:
        count += 1

print(count)

8

In [93]:
#Answer 2
sentence = "It's time to be alive"
number = sum(1 for char in sentence if char in 'aeiouAEIOU')
number

8

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [51]:
vowels = 'aeiouAEIOU'  # Include both lowercase and uppercase vowels
sentence = 'Try harder'
sentence_rm = ""  # Get empty string

for char in sentence:
    if char not in vowels:  
        sentence_rm += char  # Concatenate 

sentence_rm

'Try hrdr'

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [187]:
#Google
# Define the favorite number
fav_number = int(input())

def is_prime(n): # Make function to check if a number is prime
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

if is_prime(fav_number):  # Check wether the number is prime
    print(f"{fav_number} is a prime number.")
else:
    print(f"{fav_number} is not a prime number.")

 100

100 is not a prime number.

In [189]:
# Num odd 
# num%2==0

In [197]:
fav_number = int(input())
is_prime = fav_number >1
for number in range (2,fav_number+1):
    if fav_number % 2 == 0:
        is_prime = False
    else: is_prime = True 

is_prime

 5

True

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [5]:
num = 1234321 # Input number

num_str = str(num) # Convert the number to a string

if num_str == num_str[::-1]: # Check if the string is equal to its backward
    print(f"{num} is a palindromic number.")
else:
    print(f"{num} is not a palindromic number.")

1234321 is a palindromic number.

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [3]:
def is_palindrome(n):
    return str(n) == str(n)[::-1]

max_palindrome = max(
    i * j for i in range(10, 100) for j in range(i, 100) if is_palindrome(i * j)
)

max_palindrome

9009

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

49) Create a list of the numbers 1 through 10.

In [13]:
#Answer1
lst_num = [1,2,3,4,5,6,7,8,9,10]
lst_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
#Answer2
numbers = list(range(1, 11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [29]:
squares = [n**2 for n in range (1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [41]:
even_num = [n for n in range (18,48) if n% 2 == 0]
even_num

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [49]:
squares_even = [n**2 for n in range (1,21)if n% 2 == 0]
squares_even

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [53]:
sum_cubes = sum(n**3 for n in range (7,38))
sum_cubes

493768

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [61]:
divisible_num = [n for n in range (1,31) if n % 3 == 0 | n% 5 == 0]
divisible_num

[15, 30]

55) Redefine this list to be all uppercase.

In [69]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']

In [73]:
upper = [l.upper() for l in friends] #list cannot just use .upper due to list has no attribute
upper

['ALICE', 'BOB', 'CHARLIE', 'DEREK']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [81]:
vowel = 'aeiouAEIOU'
remove_friends = [n for n in friends if n[-1] not in vowel]
remove_friends

['Bob', 'Derek']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [117]:
vowel = 'aeiouAEIOU'
no_vowels = ''.join ([char for char in sentence if char not in vowel])
no_vowels

"t's tm t b lv"

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [121]:
jan_files = [f'Jan {date}.xlsx' for date in range (1,32)]
jan_files

['Jan 1.xlsx',
 'Jan 2.xlsx',
 'Jan 3.xlsx',
 'Jan 4.xlsx',
 'Jan 5.xlsx',
 'Jan 6.xlsx',
 'Jan 7.xlsx',
 'Jan 8.xlsx',
 'Jan 9.xlsx',
 'Jan 10.xlsx',
 'Jan 11.xlsx',
 'Jan 12.xlsx',
 'Jan 13.xlsx',
 'Jan 14.xlsx',
 'Jan 15.xlsx',
 'Jan 16.xlsx',
 'Jan 17.xlsx',
 'Jan 18.xlsx',
 'Jan 19.xlsx',
 'Jan 20.xlsx',
 'Jan 21.xlsx',
 'Jan 22.xlsx',
 'Jan 23.xlsx',
 'Jan 24.xlsx',
 'Jan 25.xlsx',
 'Jan 26.xlsx',
 'Jan 27.xlsx',
 'Jan 28.xlsx',
 'Jan 29.xlsx',
 'Jan 30.xlsx',
 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [123]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [129]:
dollars = [round(amount *1.1,2) for amount in euros]
dollars

[4.95, 7.37, 3.58, 10.99, 14.03, 0.39]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [141]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [143]:
enough_heights = [height for height in heights if height >=60]
enough_heights

[71, 65, 68, 60]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [153]:
updated_heights = [height if height >= 60 else 'None' for height in heights]
updated_heights

[71, 'None', 'None', 65, 68, 60, 'None', 'None']

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [161]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [169]:
name_goodtall = [name for name, height in people.items() if height >= 60] #for key in my_dict.keys():
name_goodtall

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [171]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [193]:
#A student's final grade is their maximum score on these three tests. 
#Create a list of the students' final grades.

max_score = [max(scores) for scores in people.values()] #.values is when you retrive 1 value
max_score

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [205]:
final_scores = {name: max(scores) for name, scores in people.items()}
final_scores

{'Aaron': 87,
 'Barbara': 92,
 'Clarence': 68,
 'Donovan': 100,
 'Erika': 88,
 'Fernando': 99}

65) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [7]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']
zip_l = zip (letters_a,letters_z)
list = [letter_a+letter_z for letter_a,letter_z in zip_l]
list

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [33]:
tuple_list =enumerate(letters_a)
alphabet = [f'{letter} is letter {index + 1} of the alphabet' for index, letter in tuple_list]
alphabet

['A is letter 1 of the alphabet',
 'B is letter 2 of the alphabet',
 'C is letter 3 of the alphabet',
 'D is letter 4 of the alphabet',
 'E is letter 5 of the alphabet']

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [208]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [211]:
math.sin(math.pi / 2)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [ ]:
math.log(math.sqrt(math.e))

c) $e^{3!}$

In [217]:
math.factorial(3)

6

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ these two functions and verify the above examples are true.

In [227]:
from math import ceil, floor

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [219]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.

Why?
1. It "pollutes" the namespace with variable names that could easily be overwritten on accident.
    - For example, after the import we could accidentally define `sin = 'without'` then be surprised when `sin(0.5)` no longer works!
2. It does not show the reader which module a given function came from. 
    - For example, we see above that `ceil` came from the `math` library since it was noted in the import.
    - If we use * is much more difficult to determine which module `ceil` is from.